@page "/deck-manager"

<PageTitle>MTGDB</PageTitle>

<h1>Magic: The Gathering Deck Manager</h1>

<NavLink class="nav-link" href="/">
  <span class="oi" aria-hidden="true">Deck Builder</span>
</NavLink>

<div class="row">
    <section class="col-6">
        <h2>Decks</h2>

        @if (_decks != null)
        {
            <ul>
            @foreach (DeckReadDetailDTO deck in _decks)
            {
                <li @onclick="@(() => SetSelectedDeck(deck))">
                    @deck.Name
                    <button class="btn-sm btn-danger ms-5 mb-2" @onclick="@(() => DeleteDeck(deck))" @onclick:stopPropagation="true">
                        Delete
                    </button>
                </li>
            }
        </ul>
        }
    </section>

    <DeckCards Deck="_selectedDeck" AllDeckCards="_deckCards"></DeckCards>
</div>
