@page "/deck-manager"

<PageTitle>MTGDB</PageTitle>

<h1>Magic: The Gathering Deck Manager</h1>

<NavLink class="nav-link" href="/">
  <span class="oi" aria-hidden="true">Deck Builder</span>
</NavLink>

<section>
    <h2>Decks</h2>

    @if (_decks != null)
    {
        <ul>
        @foreach (DeckReadDetailDTO deck in _decks)
        {
            <li>
                @deck.Name
                <button class="btn-sm btn-danger ms-5 mb-2" @onclick="@(() => DeleteDeck(deck))">Delete</button>
            </li>
        }
    </ul>
    }
</section>
