@page "/deck-manager"

<PageTitle>MTGDB</PageTitle>

<h1>Magic: The Gathering Deck Manager</h1>

<NavLink class="nav-link" href="/">
  <span class="oi" aria-hidden="true">Deck Builder</span>
</NavLink>

<Decks SavedDecks="_decks"></Decks>
