<section>
    <h2>Decks</h2>

    @if (SavedDecks != null)
    {
        <ul>
        @foreach (DeckReadDetailDTO savedDeck in SavedDecks)
        {
            <li>@savedDeck.Name</li>
        }
    </ul>
    }
</section>
