<section class="col-6">
    <h3>Deck</h3>

    @if (Deck != null)
    {
        <ul>
            @foreach (DeckCardReadDetailDTO deckCard in Deck)
            {
                <li @onclick="@(() => RemoveCardFromDeck(deckCard))">@deckCard.Name: @deckCard.Amount</li>
            }
        </ul>
    }

    <input type="submit" id="button-save" class="btn btn-primary" value="Save" @onclick="@(() => PostDeck(new DeckWriteDTO() { Name = "deck" }))" />
</section>
